 table tr th,
 table tr td {
     border: 1px solid black;
     text-align: center;
 }

 .row-centered {
     text-align: center;
 }

 .col-centered {
     display: inline-block;
     float: none;
     /* reset the text-align */
     text-align: left;
     /* inline-block space fix */
     margin-right: -4px;
 }

 .button-container {
     text-align: center;
 }

 #btnRemoveStudent {
     margin-left: 20px;
 }